footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffcab0;
    
    p {
        font-size: 20px;
        text-align: center;
        font-family: MontserratMedium;
        color: #db8053;
    }
}