/* begin horizontal navigation */
nav {
   height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcab0;

    .links {

      a {
        font-size: 30px;
        margin-right: 22px; 
        text-decoration: none;
        font-family: MontserratMedium;
        color: #db8053;
      }
    }
  }
  